html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#7209b7, #3f37c0);
}

h1 {
    text-align: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    top: 15%;
}

#caja1 {
    background-color: #4527A0;
    width: 400px;
    height: 400px;
    border-radius: 3%;
    border: 3px solid;
    float: left;
    padding-right: 0;
    justify-content: center;
    position: absolute;
    top: 20%;
    right: 15%;
    box-shadow: 0 0 10px;
}

#caja2 {
    background-color: #4527A0;
    width: 400px;
    height: 400px;
    border-radius: 3%;
    border: 3px solid;
    float: right;
    padding-left: 5px;
    margin: 0;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 20%;
    box-shadow: 0 0 10px;
}

#campo1 {
    padding: 0;
    text-align: center;
    width: 300px;
    height: 100px;
    justify-content: center;
    position: relative;
    left: 10%;
    top: 30%;
    box-shadow: 0 0 10px;
    text-transform: lowercase;
}

#campo2 {
    padding: 0;
    text-align: center;
    width: 300px;
    height: 100px;
    justify-content: center;
    position: relative;
    left: 10%;
    top: 30%;
    box-shadow: 0 0 10px;
    text-transform: lowercase;
}

#boton1 {
    padding: 0;
    position: relative;
    top: 34%;
    left: 10%;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    background-color: #29B6F6;
    box-shadow: 0 0 3px;
    border-radius: 3%;
    text-transform: uppercase;
    cursor: pointer;
}

#boton2 {
    padding: 0;
    position: relative;
    top: 34%;
    left: 25%;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    background-color: #29B6F6;
    box-shadow: 0 0 3px;
    border-radius: 3%;
    text-transform: uppercase;
    cursor: pointer;
}

#boton3 {
    padding: 0;
    position: relative;
    top: 34%;
    left: 35%;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    background-color: #29B6F6;
    box-shadow: 0 0 2px;
    border-radius: 15%;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 0 0 7px;
    font-weight: bold;
}